body {
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #3d2b24;
    line-height: 30px;
}

h1, p, h3 {
    text-align: center;
}

h1 {
    color: red;
    text-decoration: teal underline;
}

h3 {
    color: darkred;
}

a {
    color: rgb(31, 176, 53);
    text-decoration: none;
}

button {
    background-color: whitesmoke;
    color: blueviolet;
}

textarea {
    color: #000000;
}
